*{margin:0 auto; padding:0}
.clear{ clear:both; }
a{text-decoration: none;}
a:hover{text-decoration: none;}
ul,li{list-style: none}
html{
	width:100%;
	height:100%;
}
body{
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16px;
    color:#000;
}

/**鼠标覆盖背景颜色***/
@bgColor:rgba(222, 200, 20, 0.5);

.outerbox{
    position: relative;
    z-index:2;
    min-width:1300px;
}
/***导航条***/
#navigation{
    width:100%;
    height: 40px;
    background: #222;
    border-color: #080808;
    border-radius:3px;
    #logo{
        float: left; 
        margin-left:20px;
    }
    .login_status,.language_setting{
        float: right;
        line-height: 39px;
        padding-right:10px;
        padding-left:10px;
        position: relative;
        &:hover ul{
            display: block;
        }
        a{
            display:block;
            color:#999;
            &:hover{
                color:#fff;
            }
        }
        ul{
            display: none;
            position: absolute;
            z-index:1000;
            right:0;
            top:39px;
            border-radius:0 0 4px 4px;
            background: #fff;
            box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
            li{
                padding:3px 20px;
                color: #333;
                font-size:14px;
                line-height: 25px;
                white-space: nowrap;
                cursor: pointer;
                &:hover{
                    background: #f5f5f5;
                }
            }
        }
    }
    .language_setting{
        a i{
            padding-right:20px;
            border-right:1px solid #999
        }
        
    }
    /**版本号**/
    div.banben{
        height: 40px;
        float: right;
        color: white;
        margin-right: 20px;
        line-height: 40px;
    }
}
button.go_company{
    a.go_company{
        color:white;
        display:block;
    }
}

/***头部按钮及磁盘空间***/
#heading_contain .heading_top{
    width:100%;
    height: 40px;
    background: #ededed;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    span.biaoti{
        line-height: 40px;
        margin-left:10px;
    }
    button{
        margin-left:10px;
    }
}
#heading_contain .heading_cipan{
    width:95%;
    height:50px;
    margin-bottom:10px;
    /***左边磁盘图标**/
    .cipan_icon{
        width: 50px;
        height:50px;
        float:left;
        margin-left:20px;
        i.route_iconfont{
            font-size: 38px;
            color:#777;
        }
    }
    /***右边磁盘信息**/
    .cipan_right{
        width:200px;
        height:50px;
        float:left;
        .progress{
            margin-bottom: 5px;
        }
        .number_info{
            width:100%;
            height:25px;
            line-height: 25px;
            color:#aaa;
        }
    }
}

#getData{
    p.info_tip{
        margin-left:10px;
        position: relative;
        button.btn-primary{
            margin-left:10px;
        }
        input.search{
            position:absolute;
            right:15px;
            top:1px;
            height:31px;
            box-sizing:border-box;
            text-indent:10px;
            outline:none;
            padding-right:45px;
            border-radius:15px;
            color:#999;
            font-size:14px;
            border:1px solid #999;
            transition:all 0.5s ease;
            &:hover{
                border:1px solid #ddd;
            }
        }
        i.fanhui,i.route_icon-sousuo{
            position: absolute;  
            top:6px;
            cursor:pointer;
            &:hover{
              font-weight: bolder;
            }
          }
          /**叉叉  返回**/
          i.fanhui{
            display: none;
            right: 40px;
          }
          /**搜索**/
          i.route_icon-sousuo{
            right:25px;  
          }
    }
}
/**表格数据部分**/
#getData #getDataTable table{
    width:99%;
    table-layout: fixed;
    tr th{
        font-weight:normal;
        text-align:center;
        vertical-align:middle;
    }
    thead tr th:nth-child(1){
        width:40px;
    }
    thead tr th:nth-child(2){
        width:85px;
    }
    thead tr th:nth-child(3),thead tr th:nth-child(4),thead tr th:nth-child(5){
        min-width:250px;
    }
    thead tr th.action{ width: 120px;}
    tbody tr{
        th.index{ text-align:right;}
        th:nth-child(1),th:nth-child(2),th:nth-child(3),th:nth-child(6),
        th:nth-child(7),th:nth-child(8),th:nth-child(9),th:nth-child(10),
        th:nth-child(11),th:nth-child(12),th:nth-child(13){
            /* line-height:40px; */
        }
        th{
            line-height: 42px;
        }
        th a{ color: black;}
        th.click_choose .border_box_check i:hover{
            font-weight: normal;
            color: #337ab7;
            border:none;
            box-shadow:none;
        }
        th.action i.delete{
            &:hover{ color: red; }
        }
    }
    tbody tr th.station_num{
        a.jump{
            &:hover{
                color:green;
            }
        }
    }
    tbody tr.merge{
        background-color: #e5e5e5;
    }
    tbody tr.chosen{
        background-color: rgba(255,255,0,0.4);
    }
    thead tr{
        th.station_num,th.edit,th.route_info,th.clone,th.delete{
            width:7%;
            min-width:115px;
        }
    }
    tbody tr{
        th.filename,th.description{
            position: relative;
            overflow: hidden;
            white-space:nowrap;
            text-overflow:ellipsis;
            button{
                height:24px;
                position: absolute;
                right:0;
                bottom:0;
                padding: 2px; 
                border-radius:8px;
                padding:0px 5px;
                i:hover{
                    color: white;
                }
            }
        }
        th.language_num{
            position: relative;
            cursor: pointer;
            span.language_list{
                display:inline-block;
                width:100%;
                overflow: hidden;
                white-space:nowrap;
                text-overflow:ellipsis;
                line-height:20px;
            }
            span.info{
                display:inline-block;
                position: absolute;
                width:16px; height: 16px;
                bottom:3px;
                left:50%;
                line-height: 16px;
                &:hover{
                    border-radius: 50%;
                    border: white;
                    box-sizing: border-box;
                    box-shadow: 0 0 5px black;
                    color: #337ab7;   
                }
            }
        }
        th.action{
            position:relative;
            i{ 
                width: 20px; height: 20px; position:absolute; top:50%; margin-top:-8px;
                line-height:21px;
            }
            i:hover{
                font-weight: bolder;
                cursor: pointer;
                color: #337ab7;
                border-radius: 50%;
                border: 1px solid white;
                box-sizing: border-box;
                box-shadow: 0 0 5px black;
            }
            i.clone{ left:3px;}
            a.xiazai{
                position: absolute;
                width: 20px;
                height: 20px;
                left:35%;
                top:50%;
                margin-top:-10px;
                margin-left:-10px;
                i{ left:0px;}
                i.noclick{
                    display:none;
                }
                span.need_update{
                    position: absolute;
                    left: 19px;
                    top: 20px;
                    color: red;
                    line-height: 7px;
                    display: none;
                }
                span.need_update.fadein{
                    display: block;
                }
            }
            i.sim_drive{
                left:58%;
            }
            i.delete{ right:3px;}
        }
    }
    tbody tr th.click_choose .border_box_check{
        width:16px; height:16px;
        cursor: pointer;
        margin-top:11px;
        border: 1px solid #337ab7;
        position: relative;
        i.route_iconfont{ 
            position: absolute;
            top:-14px; left:0px;
            font-size:20px;
            color:#337ab7;
            font-weight:bold;
        }
    }
    /**表格内容对齐原则,
     * 基本上文字都是要靠左排，數字都是靠右
     * 如果每筆數據的內容長度全都一樣，那就可以置中
    **/
    tbody tr{
        th.filename,th.description{
            text-align:left;
        }
    }
}
/*分页那一块*/
#pageShow .info_show{
    margin-left:50px;
}
#pageShow nav{
    height: 70px;
}
#pageShow .Page{
    float:right;
    margin-right:50px;
    a{
        position: relative;
        color: #337ab7;
        padding: 6px 12px;
        margin-left: -1px;
        line-height: 1.42857143;
        border: 1px solid #ddd;
        background-color: #fff;
        &:hover{
            z-index: 2;
            color: #23527c;
            background-color: #eee;
            border-color: #ddd;
        }
    }
    a.active{
        z-index: 3;
        color: #fff;
        background-color: #337ab7;
        border-color: #337ab7;
    }
    a:first-child{
        border-radius:5px 0 0 5px;
    }
    a:last-child{
        border-radius:0 5px 5px 0;
    }
}

.outerbox1{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0; left:0
}
/***新建New profile***/
#create_new_profile,#show_detail{
    display: none;
    position: absolute;
    background: #ccc;
    box-shadow:inset 0 0 10px rgba(0,0,0,0.8);
    overflow: hidden;
    cursor:pointer;
    width:300px;
    min-height:130px;
    left:50%;
    margin-left:-150px;
    top:50%;
    margin-top:-65px;
    z-index: 999;
    border-radius:8px;
    p.myBg{
        background:#ccc;
        color:#282800;
        box-sizing: border-box;
        border:1px #bbb solid;
        min-height:30px;
        line-height:30px;
        text-indent:10px;
        i.route_icon-chuyidong{
            float:right;
            cursor:pointer;
            &:hover{color:red;}
        }
    }
    .my_inp,.my_btn{
        margin-bottom:10px;
        margin-top:10px;
        position: relative;
        width:90%;
        min-height: 35px;
        p.err_tip{
            display:none;
            margin-top:10px;
            width:100%;
            min-height:35px;
            line-height:35px;
            background: @bgColor;
            color:red;
            text-indent:10px;
        }
        textarea{
            margin-top:10px;
            text-indent:32px;
            border-radius:5px;
            width:100%;
            height: auto;
            /* max-height:120px; */
            resize:vertical;
            padding:5px;
            color: #555;
            overflow-y: hidden;
        }
        button{
            float: right;
        }
    }
}

#myModal{
    z-index: 1051;
}
/**路由信息 模态框**/
.route_info{
    .modal-dialog{
        width:90%;
    }
    .modal-body .waring_info{
        display: none;
    }
    .modal-footer{
        .submit_waring,.submit_success{
            display: none;
            text-align:left;
        }
    } 
    .body_language{
        .language_box{
            overflow-x:auto;
            ul.chosen{
                min-width:1300px;
                overflow-y:auto;
                border:1px solid #e5e5e5;
                max-height:120px;
                li.language{
                    line-height: 35px;
                    padding: 0 20px 0 10px;
                    float: left;
                    color: #fff;
                    background: #222;
                    margin:10px;
                    border-radius: 8px;
                    position: relative;
                    i{
                        cursor: pointer;
                        position: absolute;
                        right:1px;
                        top:8px;
                        &:hover{color: red;}
                    }
                }
            }
        }
        
    }
    .body_table{
        overflow-x: auto;
        table-layout: fixed;
        table{
            min-width:1300px;
            border-radius:6px; 
            tr th{
                width: 90px;
                font-weight:normal;
                text-align:center;
                vertical-align: middle;
                input{
                    color:#000;
                }
            }
            tbody tr th:nth-child(2){
                text-align: left;
                text-indent: 3px;
            }
        }
    }
}
/**路由模态框3**/
#merge_route_info{
    .modal-header{
        position: relative;
        span.route_name{
            display: block;
            position: absolute;
            width: 400px;
            height: 30px;
            top:50%; left:50%;
            margin-left:-200px;
            margin-top:-15px;
            overflow: hidden;
            white-space:nowrap;
            text-align: center;
            line-height: 30px;
            text-overflow: ellipsis;
        }
    } 
}

/**所有语言列表**/
#language_lists_box{
    display: none;
    position: absolute;
    width:400px;
    height: 400px;
    left:50%; top:50%;
    margin: -200px 0 0 -200px;
    z-index: 1050;
    background: #fff;
    border-radius:8px;
    box-shadow: 0 0 10px #000;
    overflow: hidden;
    p.title_info{
        margin-bottom:0;
        color:#777;
        box-sizing: border-box;
        border-bottom:1px solid #999;
        line-height:30px;
        height:30px;
        text-indent:10px;
        i.route_icon-chuyidong{
            float:right;
            margin-right:5px;
            cursor:pointer;
            &:hover{color:red;}
        }
    }
    .languages_left{
        width:400px;
        height: 370px;
        box-sizing: border-box;
        position: relative;
        ul.choose_my_language{
            width:100%;
            height:100%;
            overflow-y:auto;
            padding:5px;
        }
        ul.choose_my_language li.language{
            width:150px;
            height: 30px;
            line-height: 30px;
            margin-left:2px;
            text-indent: 10px;
            cursor: pointer;
            border: 1px solid #ddd;
            box-sizing: border-box;
            color:#555;
            position: relative;
            i.route_icon-you{
                position: absolute;
                right:2px; top:0px;
                font-size:16px;
            }
            ul.country{
                display:none;
                position: absolute;
                width:200px;
                left:150px;
                top:-1px;
                border:1px solid #ddd;
                li.country_text{
                    position: relative;
                    height: 30px;
                    line-height: 30px;
                    text-align: center;
                    &:hover{
                        background: #222222;
                        color:white;
                    }
                    i.icon{
                        position: absolute;
                        left:3px; top: 0px;
                        font-size: 16px;
                        color: #428bca;
                    }
                }
            }
            &:hover{
                background: #f5f5f5;
                ul.country{
                    display:block;
                }
            }
        }
        
    }
}

/**合并路线时的站点选择框**/
#merge_route{
    display: none;
    position: absolute;
    z-index: 999;
    width: 800px;
    min-height: 600px;
    background: white;
    box-shadow: 0 0 10px white;
    border:1px solid black;
    border-radius:8px;
    left:50%;
    top:50%;
    margin-left:-400px;
    margin-top:-300px;
    overflow: hidden;
    p.myBg{
        background:#ccc;
        color:#282800;
        box-sizing: border-box;
        border:1px #bbb solid;
        min-height:30px;
        line-height:30px;
        text-indent:10px;
        i.route_icon-chuyidong{
            float:right;
            cursor:pointer;
            &:hover{color:red;}
        }
    }
    .routeFile{
        p.err_tip{
            display: none;
            background:yellow;
            line-height: 30px;
            border-radius: 8px;
            text-indent: 10px;
            margin-top: 3px;
        }
    }
    hr{ margin-top:10px;margin-bottom: 5px; }
    .routeFile{
        width: 95%;
    }
    .stations_box{
        position: relative;
        height:430px;
        padding: 0 10px 0 10px;
        overflow-y: auto;
        p.err_tip{
            display: none;
            position: absolute;
            margin:0px;
            width:97%;
            line-height:30px;
            padding:0 10px 0 10px;
            background:yellow;
            border-radius:8px;
        }
        li.route_box{
            margin-top:5px;
            border-bottom:1px solid black;
            i{
                cursor: pointer;
                color:#00c4ff;
                &:hover{
                    box-shadow: 0 0 5px black;
                }
            }
            .top_{
                span.route_name{
                    margin-left:10px;
                }
                i.xiala{
                    float: right;
                }
            }
            ul.languages{
                margin-left:20px;
                li.language{
                    line-height:30px;
                }
            }
        }
    }
    .btn_box{
        button.comfirm{
            float: right;
            margin-right:13px;
        }
    }
}

/**自动保存提示**/
#save_success{
    display: none;
    position: absolute;
    z-index: 1050;
    box-shadow:0 0 8px #000;
    border:1px solid #fff;
    border-radius:8px;
    padding: 10px;
    line-height: 30px;
    width: 60%;
    top:20%; left: 50%;
    margin-left:-30%;
    background: rgba(0,0,0,0.8);
    p.save_tip{
        color:#fff;
    }
}

/***自定义滚动条***/
.my_diy_scrollbar{
    /**自定义滚动条**/
    &::-webkit-scrollbar-track
    {
        box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
        border-radius:5px;
    }
    &::-webkit-scrollbar
    {
        width: 8px;
        height:8px;
        background-color: #F5F5F5;
    }
    &::-webkit-scrollbar-thumb
    {
        background-color: #000000;
        border: 2px solid #555555;
        border-radius:5px;
    }
}

/***遮罩层样式******/
#zhezhao{
    position:absolute;
	width:100%;
    height:100%;
    top:0px;
    left:0;
    z-index:2000;
}
#zhezhao p{
	position:absolute;
	width:100%;
	height:100%;
	background:rgba(0, 0, 0, 0.5);
	top:0px;
	left:0;
}
.sk-cube-grid {
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left:-50px;
  position: absolute;
  top:50%;
  left:50%;
}
.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #333;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}
@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}